@model PhoneTicket.Web.ViewModels.ListRoomViewModel

@{
    ViewBag.Title = "Editar Sala";
}

<link href="~/Content/AddRoom.css" rel="stylesheet" type="text/css" />

<h2>Editar Sala</h2>
<br />

@using (Html.BeginForm("EditRoom","Rooms")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.HiddenFor(m => m.Id, Model.Id)
        </div>
    
        <fieldset>
        <legend>Editar Sala</legend>
        <ol>
            <li>
                <label for="Name">Nombre</label>
                @Html.EditorFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </li>
            <li>
                <label for="AvailableComplexes">Complejo</label>
                @Html.DropDownListFor(m => m.ComplexId, Model.AvailableComplexes, "Seleccione Uno")
                @Html.ValidationMessageFor(m => m.ComplexId)
            </li>
        </ol>
        <input type="submit" value="Guardar Cambios" />
    </fieldset>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}