@model PagedList.IPagedList<PhoneTicket.Web.ViewModels.ListUserViewModel>
@using PagedList.Mvc; 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Usuarios</h2>

<table>
    <tr>
        <th>E-mail</th>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Celular</th>
        <th>Fecha de Nac.</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CellPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
    </tr>
}
</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))