@model PhoneTicket.Web.ViewModels.EditShowViewModel

@{
    ViewBag.Title = "Editar Función";
}

@Styles.Render("~/Content/themes/base/css")
@Styles.Render("~/Content/EditShow.css")

<h2>Editar Función</h2>
<br />

@using (Html.BeginForm("EditShow","Shows")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.HiddenFor(m => m.Id, Model.Id)
            @Html.HiddenFor(m => m.IsAvailable, Model.IsAvailable)
        </div>
    
        <fieldset>
        <legend>Editar Función</legend>
        <ol>
            <li>
                <label for="Date">Fecha</label>
                @Html.TextBoxFor(m => m.Date , new { @readonly="readonly" })
                @Html.ValidationMessageFor(m => m.Date)
            </li>
            <li>
                <div class="hoursandminutes">
                    <table class="center">
                        <tr>
                            <th><label for="Hour">Hora</label></th>
                            <th> </th>
                            <th><label for="Minutes">Minutos</label></th>
                        </tr>
                        <tr>
                            <th>@Html.EditorFor(m => m.Hour)</th>
                            <th>:</th>
                            <th>@Html.EditorFor(m => m.Minutes)</th>
                        </tr>
                    </table>
                </div>
            </li>
            <li>
                @Html.ValidationMessageFor(m => m.Hour)
                @Html.ValidationMessageFor(m => m.Minutes)
            </li>
            <li>
                <label for="AvailableMovies">Película</label>
                @Html.DropDownListFor(m => m.MovieId, Model.AvailableMovies, "Seleccione Una")
                @Html.ValidationMessageFor(m => m.MovieId)
            </li>
            <li>
                <label for="AvailableRooms">Sala</label>
                @Html.DropDownListFor(m => m.RoomId, Model.AvailableRooms, "Seleccione Una")
                @Html.ValidationMessageFor(m => m.RoomId)
            </li>
            <li>
                <label for="Price">Precio</label>
                @Html.EditorFor(m => m.Price)
                @Html.ValidationMessageFor(m => m.Price)
            </li>
        </ol>
        <input id="save" type="submit" value="Guardar Cambios" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    @Scripts.Render("~/Scripts/app/EditShows.js")
}