@model PhoneTicket.Web.Models.LocalPasswordModel

<p>
    Usted no tiene una contraseña local para este sitio. Agregue
    una contraseña local para poder iniciar sesión sin un inicio de
    sesión externo.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Set Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Establecer contraseña" />
    </fieldset>
}
