@model double

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/themes/base/css")
@Styles.Render("~/Content/Shows.css")

<h2>Crear funciones</h2>

<div id="validationSummary" class="validation-summary-errors">
    <ul style="display: none"></ul>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <label for="beginDate">Fecha comienzo *:</label>
                <input type="text" id="beginDate" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span id="beginDateError" class="field-validation-error" style="display: none"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <label for="endDate">Fecha fin *:</label>
                <input type="text" id="endDate" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span id="endDateError" class="field-validation-error" style="display: none"></span>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label for="movie">Película *:</label>
        <select id="movie"></select>
    </div>
    <div class="col-md-6">
        <label for="complex">Complejo *:</label>
        <select id="complex"></select>
    </div>
</div>

<div id="days" class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-2">
                <label>Días *</label>
            </div>
            <div class="col-md-3">
                <input id="monday" type="checkbox" checked="checked" />
                <label for="monday">Lunes</label>
            </div>
            <div class="col-md-3">
                <input id="tuesday" type="checkbox" checked="checked" />
                <label for="tuesday">Martes</label>
            </div>
            <div class="col-md-4">
                <input id="wednesday" type="checkbox" checked="checked" />
                <label for="wednesday">Miercoles</label>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-3">
                <input id="thursday" type="checkbox" checked="checked" />
                <label for="thursday">Jueves</label>
            </div>
            <div class="col-md-3">
                <input id="friday" type="checkbox" checked="checked" />
                <label for="friday">Viernes</label>
            </div>
            <div class="col-md-3">
                <input id="saturday" type="checkbox" checked="checked" />
                <label for="saturday">Sábado</label>
            </div>
            <div class="col-md-3">
                <input id="sunday" type="checkbox" checked="checked" />
                <label for="sunday">Domingo</label>
            </div>
        </div>
    </div>
</div>

<div id="shows">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <label>Hora *:</label>
                    <input id="hour1" class="hour spinner" type="text" />
                    <span>:</span>
                    <input id="minutes1" class="minutes spinner" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span id="hour1Error" class="field-validation-error" style="display: none"></span>
                    <span id="minutes1Error" class="field-validation-error" style="display: none"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label>Sala *:</label>
            <select class="rooms"></select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success" id="add">Agregar</button>
        <button class="btn btn-danger" id="remove">Borrar</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <label for="price">Precio *:</label>
                <input type="text" class="spinner" id="price" value="@Model" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span id="priceError" class="field-validation-error" style="display: none"></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button id="create" class="btn btn-primary">Crear</button>
    </div>
</div>

<h4> * - Campo Obligatorio</h4>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/app/Validation.js")
    @Scripts.Render("~/Scripts/app/CreateShows.js")
}