@model PhoneTicket.Web.Models.Show

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/themes/base/css")
@Styles.Render("~/Content/bootstrap.min.css")
@Styles.Render("~/Content/Shows.css")


<div id="validation">
</div>

<h2>Crear funciones</h2>

<div class="row">
    <div class="col-md-6">
        <label for="beginDate">Fecha comienzo:</label>
        <input type="text" id="beginDate"/>
    </div>
    <div class="col-md-6">
        <label for="beginDate">Fecha fin:</label>
        <input type="text" id="endDate"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label for="movie">Película:</label>
        <select id="movie"></select>
    </div>
    <div class="col-md-6">
        <label for="complex">Complejo:</label>
        <select id="complex"></select>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Días</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <input id="monday" type="checkbox" checked="checked"/>
        <label for="monday">Lunes</label>
        <input id="tuesday" type="checkbox" checked="checked"/>
        <label for="tuesday">Martes</label>
        <input id="wednesday" type="checkbox" checked="checked"/>
        <label for="wednesday">Miercoles</label>
        <input id="thursday" type="checkbox" checked="checked"/>
        <label for="thursday">Jueves</label>
        <input id="friday" type="checkbox" checked="checked"/>
        <label for="friday">Viernes</label>
        <input id="saturday" type="checkbox" checked="checked"/>
        <label for="saturday">Sábado</label>
        <input id="sunday" type="checkbox" checked="checked"/>
        <label for="sunday">Domingo</label>
    </div>
</div>

<div id="shows">
    <div class="row">
        <div class="col-md-6">
            <label>Hora:</label>
            <input class="hour spinner" type="text"/>
            <span>:</span>
            <input class="minutes spinner" type="text"/>
        </div>    
        <div class="col-md-6">
            <label>Sala:</label>
            <select class="rooms"></select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success" id="add">Agregar</button>
        <button class="btn btn-danger" id="remove">Borrar</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <label for="price">Precio:</label>
        <input type="text" class="spinner" id="price"/>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button id="create" class="btn btn-primary">Crear</button>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
   @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/app/Validation.js")
    @Scripts.Render("~/Scripts/app/CreateShows.js")
}