@using PhoneTicket.Web.ViewModels
@model BestShowTimesSellersViewModel

@{
    Layout = null;
}

<img src="@Url.Content("~/Images/logo.png")" height="50px"/>

<h2>Horarios más vendidos</h2>
<br />

<table>
    <tr>
        <td>Desde: @Model.From</td>
        <td>Hasta: @Model.To</td>
        @if (Model.ShowTimesInfo.Any())
        {
            <td>Complejo: @Model.ShowTimesInfo.First().Complexes</td>
        }
        
    </tr>
</table>

@if (Model.ShowTimesInfo.Any())
{
    <img src="@Url.Content("~/Images/separator.png")" width="500"/>
    <br />
    
    <img src="@Url.Content(Model.ChartPath)" width="500"/>
    
    <br />
    
    <table>
        <tr>
            <th>Horario</th>
            <th>Cantidad de películas diferentes</th>
            <th>Cantidad de tickets vendidos</th>
            <th>Complejo</th>
        </tr>
        @foreach (var showTimes in Model.ShowTimesInfo)
        {
            <tr>
                <td>@showTimes.Time</td>
                <td>@showTimes.MovieCount</td>
                <td>@showTimes.TicketCount</td>
                <td>@showTimes.Complexes</td>
            </tr>
        }
    </table>
    
}
else
{
    <h3>No hay datos para mostrar</h3>
}
