@using PhoneTicket.Web.Models
@model PhoneTicket.Web.ViewModels.ShowSeatMapViewModel

@{
    ViewBag.Title = "Entradas vendidas y reservas por función";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="float: right">
    @Html.ActionLink("Ver PDF", "ForShowPdf", new { showId = @Model.ShowId })
</div>

<h2>Entradas vendidas y reservas por función</h2>

<div class="row">
    <div class="col-md-4">
        <label>Complejo:</label>
        <span>@Model.Complex</span>
    </div>
    <div class="col-md-4">
        <label>Película:</label>
        <span>@Model.Movie</span>
    </div>
    <div class="col-md-4">
        <label>Función:</label>
        <span>@Model.Show</span>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label>Vendidos:</label>
        <span>@Model.ReportShowSeats.Purchased</span>
    </div>
    <div class="col-md-4">
        <label>Reservados:</label>
        <span>@Model.ReportShowSeats.Reserved</span>
    </div>
    <div class="col-md-4">
        <label>Vacíos:</label>
        <span>@Model.ReportShowSeats.Free</span>
    </div>
</div>

<h3>Referencias</h3>

<div class="row">
    <div class="col-md-12">
        <img width="4.15%" src="@Url.Content("~/Images/purchased.png")"/>
        <span>Vendido</span>
    </div>
    <div class="col-md-12">
        <img width="4.15%" src="@Url.Content("~/Images/reserved.png")"/>
        <span>Reservado</span>
    </div>
    <div class="col-md-12">
        <img width="4.15%" src="@Url.Content("~/Images/empty.png")"/>
        <span>Vacío</span>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="background: black; color: white; text-align: center; margin: 10px 0 10px 0">
        PANTALLA
    </div>
</div>

@foreach (var row in Model.ReportShowSeats.Seats)
{
    <div class="row">
        @foreach (var cell in row)
        {
            <div style="display: inline;">
                @if (cell == ReportSeatState.Free)
                {
                    <img width="4.15%" src="@Url.Content("~/Images/empty.png")"/>   
                }
                @if (cell == ReportSeatState.Purchased)
                {
                    <img width="4.15%" src="@Url.Content("~/Images/purchased.png")"/>   
                }
                @if (cell == ReportSeatState.Reserved)
                {
                    <img width="4.15%" src="@Url.Content("~/Images/reserved.png")"/>
                }
                @if (cell == ReportSeatState.NoSeat)
                {
                    <img width="4.15%" src="@Url.Content("~/Images/noSeat.png")"/>
                }
            </div>
        }
    </div>
}