@model PagedList.IPagedList<PhoneTicket.Web.ViewModels.ListMovieViewModel>
@using PagedList.Mvc; 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Movies.css" rel="stylesheet" type="text/css" />

<div class="center">
@if (Model.Count == 0)
{
    <h2>No hay películas en cartelera</h2>
}
else { 
    <h2>Películas en cartelera</h2>

<table class="center">
    @for (int i = 0; i < Model.Count; i++)
    {
        if (i % 3 == 0)
        {
            @:<tr>
        }
            <td>
                <img src="@Model[i].ImageUrl" class="thumbnail" />
            </td>
            <td>
                <label>Título</label>
                @Html.DisplayFor(modelItem => Model[i].Title)
                <label>Género</label>
                @Html.DisplayFor(modelItem => Model[i].Genre)
                <label>Duración (min)</label>
                @Html.DisplayFor(modelItem => Model[i].DurationInMinutes)
                <label>Clasificación</label>
                @Html.DisplayFor(modelItem => Model[i].Rating)
            </td>
        if ((i + 1) % 3 == 0)
        {
            @:</tr>
        }
    }

</table>

    <br />
    
    <label>Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</label>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))    
}
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/app/Users.js")
}

