@model PagedList.IPagedList<PhoneTicket.Web.ViewModels.ListMovieViewModel>
@using PagedList.Mvc;
@using PhoneTicket.Web.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Movies.css" rel="stylesheet" type="text/css" />

<div class="center">
    <div>
        <span class="search-field">
            @using (Html.BeginForm("Index", "Movies", FormMethod.Post, new {style = "display: inline"}))
            {
                <text>Buscar por título:</text>
                @Html.TextBox("titleSearch")  
                <input type="submit" value="Buscar" />
            }
        </span>
        @if (ViewBag.CanEdit)
        {
            <span>
                @Html.ActionLink(
                            linkText: "Agregar Película",
                            actionName: "Add",
                            controllerName: "Movies",
                            routeValues: new { movieId = -1 },
                            htmlAttributes: null)
            </span>
        }
    </div>

    @if (Model.Count == 0)
    {
        <h2>No hay películas para mostrar</h2>
    }
    else
    { 
        <h2>Películas en cartelera</h2>
    
        <table class="center">
            <tr>
                <th>Título</th>
                <th>Género</th>
                <th>Duración</th>
                <th>Clasificación</th>
            </tr>

            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].DurationInMinutes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].Rating)
                    </td>
                    @if (Model[i].CanEdit)
                    {
                        <td>
                            @Html.ActionLink(
                                linkText: "Editar",
                                actionName: "Edit",
                                controllerName: "Movies",
                                routeValues: new { movieId = Model[i].Id },
                                htmlAttributes: null
                                )
                        </td>
                        <td>
                            @Html.ActionLink(
                                linkText: "Borrar",
                                actionName: "DeleteMovie",
                                controllerName: "Movies",
                                routeValues: new { movieId = Model[i].Id },
                                htmlAttributes: new { onclick = "return confirm('¿Está seguro que desea borrar la película?')"}
                                )
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink(
                                linkText: "Ver",
                                actionName: "Details",
                                controllerName: "Movies",
                                routeValues: new { movieId = Model[i].Id },
                                htmlAttributes: null
                                )
                        </td>
                    }

                </tr>
            }

        </table>

        <br />
    
        <label>Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</label>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))    
    }
</div>