@model PhoneTicket.Web.Models.Movie

@{
    ViewBag.Title = "Agregar Película";
}

<link href="~/Content/AddEditMovie.css" rel="stylesheet" type="text/css" />

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreateMovie","Movies")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
        <div class="editor-label">
            @Html.HiddenFor(m => m.Id, new { @Value = ViewBag.MovieId })
        </div>

        <fieldset>
        <legend>Agregar película</legend>
        <ol>
            <li>
                <label for="Title">Título *</label>
                @Html.EditorFor(m => m.Title)
                @Html.ValidationMessageFor(m => m.Title)
            </li>
            <li>
                <table id="table1">
                    <tr>
                        <td>
                            <label for="DurationInMinutes">Duración (en minutos) *</label>
                            @Html.EditorFor(m => m.DurationInMinutes)
                            @Html.ValidationMessageFor(m => m.DurationInMinutes)
                        </td>
                        <td>
                            <label for="Genre">Género *</label>
                            @Html.DropDownList("MovieGenreType")
                        </td>
                        <td>
                            <label for="Rating">Clasificación *</label>
                             @Html.DropDownList("MovieRatingType")
                        </td>
                    </tr>
                </table>
            </li>
            <li>
                <label for="Synopsis">Sinopsis *</label>
                @Html.TextAreaFor(m => m.Synopsis)
            </li>
            <li>
                @Html.ValidationMessageFor(m => m.Synopsis)
            </li>
            <li>
                <label for="TrailerUrl">Url de trailer *</label>
                @Html.EditorFor(m => m.TrailerUrl)
            </li>
            <li>
                @Html.ValidationMessageFor(m => m.TrailerUrl)
            </li>
            <li>
                <label for="TrailerUrl">Url de imágen *</label>
                <table id="table2">
                    <tr>
                        <td style="width:90%">@Html.EditorFor(m => m.ImageUrl)</td>
                        <td style="width:10%"><input type="button" id="refreshImage" value="Actualizar"/></td>
                    </tr>
                    <tr>
                        <td>@Html.ValidationMessageFor(m => m.ImageUrl)</td>
                    </tr>
                </table>
            </li>
            <li>
                <img id="MovieImg" class="thumbnail" src="@Model.ImageUrl" style="display: none"/> 
            </li>
        </ol>
        <input type="submit" value="Guardar" />
    </fieldset>
}

<h4> * - Campo Obligatorio</h4>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/app/Movies.js")
}