@model PhoneTicket.Web.Models.Movie

@{
    ViewBag.Title = "Editar Película";
}

<link href="~/Content/AddEditMovie.css" rel="stylesheet" type="text/css" />

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("EditMovie","Movies")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="editor-label">
            @Html.HiddenFor(m => m.Id, new { @Value = ViewBag.MovieId })
        </div>

        <fieldset>
        <legend>Editar película</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Title)
                @Html.EditorFor(m => m.Title)
                @Html.ValidationMessageFor(m => m.Title)
            </li>
            <li>
                <table id="table1">
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.DurationInMinutes)
                            @Html.EditorFor(m => m.DurationInMinutes)
                            @Html.ValidationMessageFor(m => m.DurationInMinutes)
                        </td>
                        <td>
                            <label for="Genre">Género</label>
                            @Html.DropDownList("MovieGenreType")
                        </td>
                        <td>
                            <label for="Rating">Clasificación</label>
                            @Html.DropDownList("MovieRatingType")
                        </td>
                    </tr>
                </table>
            </li>
            <li>
                <label for="Synopsis">Sinópsis</label>
                @Html.TextAreaFor(m => m.Synopsis, new { @class = "text-box.multi-line" })
                @Html.ValidationMessageFor(m => m.Synopsis)
            </li>
            <li>
                @Html.LabelFor(m => m.TrailerUrl)
                @Html.EditorFor(m => m.TrailerUrl)
                @Html.ValidationMessageFor(m => m.TrailerUrl)
            </li>
            <li>
                @Html.LabelFor(m => m.ImageUrl)
                <table id="table2">
                    <tr>
                        <td style="width:90%">@Html.EditorFor(m => m.ImageUrl)</td>
                        <td style="width:10%"><input type="button" id="refreshImage" value="Actualizar"/></td>
                    </tr>
                    <tr>
                        <td>@Html.ValidationMessageFor(m => m.ImageUrl)</td>
                    </tr>
                </table>
            </li>
            <li>
                <img id="MovieImg" class="thumbnail" src="@Model.ImageUrl"/> 
            </li>
        </ol>
        <input type="submit" value="Guardar Cambios" />
    </fieldset>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/app/Movies.js")
}