@model PhoneTicket.Web.ViewModels.ListRoomViewModel

@{
    ViewBag.Title = "Agregar Sala";
}

<link href="~/Content/AddRoom.css" rel="stylesheet" type="text/css" />

<h2>Agregar Sala</h2>
<br />

@using (Html.BeginForm("CreateRoom","Rooms")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <fieldset>
        <legend>Agregar Sala</legend>
        <ol>
            <li>
                <label for="Name">Nombre</label>
                @Html.EditorFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </li>
            <li>
                <label for="AvailableComplexes">Complejo</label>
                @Html.DropDownListFor(m => m.ComplexId, Model.AvailableComplexes, "Seleccione Uno")
                @Html.ValidationMessageFor(m => m.ComplexId)
            </li>
            <li>
                <label for="Capacity">Capacidad</label>
                @Html.EditorFor(m => m.Capacity)
                @Html.ValidationMessageFor(m => m.Capacity)
            </li>
        </ol>
        <input type="submit" value="Guardar" />
    </fieldset>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}