@using PhoneTicket.Web.ViewModels
@model SalesPerMovieViewModel

@{
    Layout = null;
}

<img src="@Url.Content("~/Images/logo.png")" height="50"/>

<h2>Entradas más vendidas por película</h2>

<table>
    <tr>
        <td>Desde: 2013-11-01
        </td>
        <td>Hasta: 2013-11-03
        </td>
        <td>Complejos: Todos
        </td>
    </tr>
</table>

@if (Model.MovieSales.Any())
{
    <img src="@Url.Content("~/Images/separator.png")" width="500"/>
    <img src="@Url.Content(Model.ChartPath)" width="500"/>
    <table>
        <tr>
            <th>Película</th>
            <th>Entradas vendidas</th>
            <th>Complejo</th>
        </tr>
        @foreach (var movieSales in Model.MovieSales)
        {
            <tr>
                <td>
                    @movieSales.Movie
                </td>
                <td>
                    @movieSales.Sales
                </td>
                <td>@movieSales.Complexes</td>
            </tr>
        }
    </table>
}
else
{
    <h3>No hay datos para mostrar</h3>
}

